header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu{
    font-size: 18px;
    font-weight: bold;

}

.c-item {
    height: 500px;
}
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.servicio-fila{
    width: 100% !important;
    text-align:center;
}

.mapa{
    background: url(../imagen/mapa.png);
    width: 100%;
    height: 500px;
    margin: 30px;
}

#local{
    background-color: whitesmoke;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}
@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

@media (max-width:768px){
    #intro,#equipo{
        width: 90%;
    }
}

#numeros-local div{
    padding:0 20px 0 0 ;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}
#numeros-local p{
    margin: 0;
} 

.footer{
    background: grey;
}
.container-fluid{
    margin-top: 10px;

}

.c-iten {
    height: 500px;
}

.c-img2{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}