*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg, #000000 50%
    ,#7a0303 50%);
}
.form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px;
    margin: 10px;
}

.form-body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
}
.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
}

.form-body input[type="Password"]{
    margin-top: 20px;
}

::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, .596);
}

.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all .4s;
}
.errorx1{
    color: #ff0000;
}
.errorx2{
    color: #ff0000;
}
.errorx3{
    color: #ff0000;
}